
body {
   
    background-color: #1A515C;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color:  #bbd9df;
}

header {
    min-height: 100%;
    padding: 5px;
    margin-top: 0;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #040c1b;
    text-align: center;
    box-shadow: 0px 10px 30px black;
    border: none;
    border-radius: 40px;
}

main {
    margin-top: 1vw;
    padding-left: 90px;
    padding-right: 90px;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    align-items: center;
}

.formD {
    display: grid;
    align-items: center;
}

#description-div {
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
    margin-top: 10px;
    font-size: larger;
}

#convert-main {
    display: grid;
    box-shadow: 0px 10px 30px black;;
    text-align: center;
    border: none;
    border-radius: 20px;
    background-color: #3c837a6b;
    align-items: center;
    max-width: 400px;
    min-width: 200px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vw;
}

.textL {
    position: relative;
    font-size: 17px;
    margin: 1%;
}

.num {
    position: relative;
    padding: 10px;
    border: none;
    border-radius: 19px;
    box-shadow: 2px 2px 10px black;
    background-color: #66cfca81;
    margin: 1%;
}

.selBase {
    margin-top: 0.3%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: none;
    border-radius: 19px;
    padding: 5px;
    box-shadow: 2px 2px 10px black;
    background-color: #66cfca81;
    text-align: center;
}

#cnvbtn {
    margin-top: 0.3%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 10px;
    border: none;
    border-radius: 19px;
    box-shadow: 2px 2px 10px black;
    background-color: #66cfca81;
}

#cnvbtn:hover {
    box-shadow: 4px 4px 12px black;
    background-color: #b7ffe7c5;
}

.selBase:hover {
    box-shadow: 4px 4px 12px black;
    background-color: #b7ffe7c5;
}

.num:focus {
    box-shadow: 4px 4px 12px black;
    background-color: #b7ffe7c5;
}
